.grid-publication {
    margin-left: calc(var(--sidemenu-width) + 20%);
    max-width: 450px;
    /* min-width: 400px; */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    transition: margin-left .5s;
    text-decoration: none;
  }

  .grid-publication-link{
    color: black;
    text-decoration: none;
  }
  
  .grid-publication-unique {
    width: 100%;
    margin-bottom: 2%;
    cursor: pointer;
  }
  
  .publicationimg {
    width: 100%;
    max-height: 500px;
    /* max-width: 450px; */
  }
  
  .publication-profile {
    border: 1px solid black;
    display: flex;
    align-items: center;
    height: 50px;
    max-height: 50px;
    text-transform: capitalize;
  }
  
  .publication-profile img {
    width: 11%;
    max-width: 11%;
  }

  /* MODAL */

  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }