body{
  background: #ebe7dd;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  /* #414970 #70585B #4C5270 #706541 #47704F */
  --header-bg: #4c5270;
  --header-bg-search: #4c5265;
  --color-header-text: #fcfcf2;
  --keypad-login-register-bg: #4c5270;
  --color-keypad-login-register: #fcfcf2;
  --color-beige: #fffff5;

  --font-size-header: 0.9em;
  --font-size-max: ;
  --font-size-mid: ;
  --font-size-min: ;

  --header-height: 80px;
  --sidemenu-width: 50px;

}

/* HOME */

.container-home {
  padding: 2%;
}

/* HOME */

@media screen and (max-width: 425px) {
  .grid-publication {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .header-menu{
    z-index: 1;
  }
}

.Profile{
  margin-left: calc(var(--sidemenu-width) + 10%);
  /* background: #000; */
}

.PublicationUpload{
  margin-left: calc(var(--sidemenu-width)+10%);
  width: 50%;
}

.PublicationUpload-description{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.PublicationUpload-file{
  content: 'Select some files';
  display: inline-block;
  border: 1px solid #999;
  border-radius: 3px;
  width: 96%;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
}

.PublicationUpload-button{
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}